
:root {
  --main-bg-color: #1c2632;
  --main-fg-color: #6c7a8a;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: static;
  overflow-y: auto;
  width: 100%;
}

body.game {
  position: fixed;
  overflow-y: hidden;
}

h1 {
  text-align: center;
  margin: 0.5rem;
}

.container {
  margin: 0 auto;
  height: 98vh;
  width: 98vw;
  flex-direction: column;
  max-width: 90vh;
}

/* main */
#main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#puzzle-lists {
  width: 100%;
  max-width: 640px;
  padding: 0 1rem;
}

#main h2 {
  border-top: 2px solid var(--main-fg-color);
}

#main ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  padding: 0;
  margin-bottom: calc(24px + 1rem);
  list-style: none;
}

#main li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(10vw, 50px);
  font-weight: bold;
  border: 1px solid var(--main-fg-color);
}

#main li::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#main li.completed {
  background-image: url("images/star.svg");
  background-size: cover;
}

#main ul:last-child {
  margin-bottom: 25vh;
}

#reset-button {
  margin-top: -12vh;
}

#reset-button:hover {
  text-decoration: underline;
}


/* game all ok */
#game {
  display: none;
}

#game > .title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem; /* top bottom & left right */
}

#game > .status-bar {
  display: flex;
  justify-content: space-around;
  margin: 0 1rem 1rem 1rem; /* top, right, bottom, left */
}

#canvas-container {
  text-align: center;
  height: calc(98vh - 2rem - (0.5rem * 2) - 2rem - 1rem);
}

#canvas {
  max-width: 100%;
  max-height: 100%;
  background-color: var(--main-bg-color);
  touch-action: none;
}

/* you win all ok */
#you-win {
  display: none;
  position: relative;
  top: -50%;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid var(--main-fg-color);
  background-color: var(--main-bg-color);
}

#you-win > div {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button-image {
  display: inline-block;
  background-size: cover;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.back-image {
  background-image: url("images/back.svg");
}

.reset-image {
  background-image: url("images/reset.svg");
}

.back2-image {
  background-image: url("images/back2.svg");
}

.next-image {
  background-image: url("images/next.svg");
}

/* do we need this? */
.v-hidden {
  visibility: hidden;
}

.reset {
  fill: var(--main-fg-color);
}

